[2016-09-26 12:45] Lt-Henry opened #18 "netmd download"
I've been trying to get netmd track download to work, but had some troubles and doubts. First of all, why is LP2 wireformat default? There is no way to encode atrac in Linux, mp3, ogg and flac are more common and easily re-encoded to raw pcm wireformat. I've been working this way with the python version for a long time.

I've found a pair of bugs in secure.c (or that seems to me).

Line 394: size_

[2016-09-26 13:16] glaubitz commented on #18
It's been a long time, but I was pretty sure you could only download ATRAC-SP or ATRAC-LP to most NetMD devices but @karcherm knows more on this and he might be able to answer.

I assume you were using _netmdcli_ for downloading. Looking at the code, __netmdcli__ currently hardwires the format to LP2 but that should be easy to fix in the future.

You should open separate bugs for that. Logically s

[2016-09-26 18:28] tharp commented on #18
Device gets stuck showing "accessing" when the
data size to be transferred doesn't match the data size (total_bytes) send to the device at netmd_secure_send_track() command. In some cases the device is still waiting for more audio data, so it stucks and blocks any other command if it doesn't get the "missing data".
It's just a matter of wrong/incomplete calculation. ).
The last packet/chunk may be

[2016-09-26 20:52] Lt-Henry commented on #18
Yes, it was! I've already got it working. Netmdcli code was skiping a 60 bytes header, that my raw pcm sources lacks, so total transfer was smaller than expected. Thanks @tharp !

I am still a bit confused about those PCM not multiple of 2048, so this last frame is lost?

I will take a look!

Sorry @glaubitz I wasn't sure if using lp2 as default format could be considered as a bug, also, I don't h

[2016-09-27 17:36] tharp commented on #18
O.K., this should not happen, maybe i have had some bad/corrupt wav files for testing. I implemented counting frames for debug messages and then kept it for calculating transfer data size. Anyway, this worked fine for me so far.
If PCM audio data size is not multiple of 2048 (should not happen on correct files) the last frame is not lost but may be shorter than expected, so the device sticks waiti

[2016-09-29 14:27] Lt-Henry commented on #18
I'm converting from mp3 to pcm using this:
ffmpeg -i track.mp3 -f s16be -acodec pcm_s16be track.raw

The output size for this file is 49844736, not a 2048 multiple. This happens with almost file tested. The hexdump does not show any header. Maybe i'm doing something wrong :s

After removing fseek of 60 bytes, this never happen again. I downloaded a pair of albums without problems. I guess the magi

[2016-09-29 18:07] tharp commented on #18
There is nothing "really" wrong, you are converting your mp3 file to pcm raw audio. There is no header then but the file is useless for anyone who doesn't know the audio format.
I prefer converting to a wav file (pcm audio stored in a wav container), it contains the header storing all information about the audio format (bitrate, channels, sample rate etc).
You can do this by calling ffmpeg whithou

[2016-09-29 20:24] Lt-Henry commented on #18
Ok, so It is clear now where the magic number 2048 comes from.

Yes, I took a look at your branch. Would be nice to get it working again, because current master branch is totally useless for netmd devices. My local branch is working with raw pcm as you may already guess :)

IMHO, ffmpeg is the way to go. It is a well known and portable library, it will allow as to accept almost everything as input

[2016-09-29 20:58] glaubitz commented on #18
So, I can't comment on this directly but @karcherm can. Please wait for him to have a look at this and your PR.

[2016-09-29 21:16] thp opened #20 "Move taglib from QHiMDTransfer into libhimd, remove id3tag dependency"
As discussed in #12, right now different ID3 tag libraries are used, and for upload and download and GUI and CLI (and combinations of those), ID3 tags are not always written or read.

To fix this, use taglib for reading and writing tags, and move the reading of tags (when transferring MP3s from PC to Hi-MD) as well as writing of tags (when transferring MP3s from Hi-MD to PC) directly from within l

[2016-09-29 22:42] karcherm commented on #20
I know that in #12 people agreed that tag writing should be moved to libhimd. I don't agree with that oppion for two reasons, though. libhimd is about accessing music on Hi-MD, not about accessing MP3 files. Furthermore, referencing a C++ library from libhimd "pollutes" not only libhimd forces applications that use libhimd to be aware of the fact that a C++ library got indirectly pulled when selec

[2016-10-02 08:08] thp commented on #20
Makes sense. What about creating a separate `libhimdtransfer` that depends on `libhimd` and includes the file transfer features (MP3 tagging, WAV file writing, etc...) and is depended upon by `QHiMDTransfer` and `himdcli` so that those don't need to include separate code?

In that case, I'd even suggest moving the `libmad` dependency and `mp3tools.c` out of libhimd and into `libhimdtransfer`.

[2016-10-03 10:34] tharp commented on #18
Should be chunk size 4Gb? libusb_bulk_transfer fails when trying to send the whole track in one single packet (~48Mb). Smaller values work for me, but not sure how to determine the best value.

I don't remember exactly but afair from my tests "real" netmd devices (not himd devices in netmd mode) don't work with multiple packets, so increasing libusb timeout works for me.
Transferring tracks on him

[2016-10-03 14:56] Lt-Henry commented on #18
I've been reading libusb docs and talking with @karcherm about that. The way usb transfers are done is buggy. There is no need to split into packets, as libusb already does it. Timeouts should be handled properly, because not always mean something wrong happened. I am working on a fix for that.

I think this issue can be closed as we already know what fails and how to fix it.

[2016-12-09 12:25] glaubitz opened #23 "New wavefilewriter breaks build on s390x, ppc64 and sparc64"
Hi!

The recently introduced wavefilewriter breaks the build on the s390x, ppc64 and sparc64 architectures in Debian [1, 2, 3]:

g++ -m64 -specs=/usr/share/dpkg/pie-link.specs -Wl,-z,relro -specs=/usr/share/dpkg/pie-link.specs -Wl,-z,relro -o qhimdtransfer main.o qhimdaboutdialog.o qhimdformatdialog.o qhimduploaddialog.o qhimdmainwindow.o qhimddetection.o qmdmodel.o qmdtrack.o qmddevice.o qhimddum

[2016-12-09 12:26] glaubitz commented on #23
@thp Could you have a look as well?

[2016-12-09 12:47] thp commented on #23
Pull request see #24

[2016-12-09 12:56] glaubitz commented on #23
Thanks, I'll test it on sparc64 right away.

[2016-12-09 13:32] #23 closed

[2016-12-10 01:50] dimso opened #25 "Accurate track lengths"
Is there a way to get accurate track lengths on the MiniDisc? Values reported by _netmd_track_get_length_ are not precisely correct. I have transferred several MDs to PC using analog connection and confirmed that with 2 different NetMD devices. I have also tried a bit of cheating by  sending _netmd_start_playback_ command and reading _netmd_get_playback_position_ in a tight loop, but it did not wo

[2017-06-10 03:30] joshuadavila opened #38 "netmdcli play track bug"
netmdcli play track bug

there is a bug on netmdcli play #track, probably affects other commands that use strtoul function too. Whenever you select a track number, it interpretes it as a hex number rather than decimal.

[2017-06-10 12:11] thp commented on #38
According to https://github.com/glaubitz/linux-minidisc/blob/master/netmdcli/netmdcli.c#L296 it does use base 10 for converting the number:

    i = strtoul(argv[2],NULL, 10);

According to `git blame`, this line was last touched 6 years ago in commit https://github.com/glaubitz/linux-minidisc/commit/c8084d948b32a112c8975e5cd603481f2d960340

The implementation of `netmd_set_track` is here: https:/

[2017-06-10 21:24] joshuadavila commented on #38
I have compiled(with some warnings) the code and it plays the  wrong track when i play any track number larger than 9, i.e. if i execute the application with "netmdcli play 12" it plays track 18, could it be something related to my development environment?

[2018-01-25 20:47] jjwbruijn opened #39 "NetMD SP Transfer results in audible 'pop' on packet boundary"
First of all, thanks to everyone involved in making linux-minidisc happen, in this original form and many of the forks!

I've been trying to produce minidiscs from FLAC's using NetMD hardware, and was very happy to get pixelkaisers fork working, with support for SP transfers instead of LP2/LP4. Although it seems to be working great, an audible 'pop' is noticeable on the recording, at about 00:47 i

[2018-03-30 19:52] vuori commented on #39
The issue is that in `netmd_prepare_packets`, the line `memcpy(iv, data + position - 8, 8);` should be `memcpy(iv, next->data + chunksize - 8, 8);`. CBC blocks are chained through the ciphertext, not the plaintext.

[2018-05-22 18:33] DavidCWGA opened #40 "Format and input mismatch with MDS-JE780"
[code]

Running on Debian 9.

[2018-07-04 16:07] Invictaz commented on #40
@DavidCWGA I suggest you submit this issue to one of the linux-minidisc forks on Github as there is very little activity here. The forks are developed further with hopefully more active support.

[2018-11-18 14:59] djsbriscoe opened #44 ".wav files greyed out and can not transfer to MZ-RH1 (Ubuntu 18.04 v0.9.15)"
The wav files I want to transfer to my MZ-RH1 are visible but are greyed out. I can connect to the device and the files actually on the device are visible. I am not sure if this is a permissions issue. Is there a way of using the terminal to try to send files and get some kind of feedback or error messages? Also my wave files are around 50Mb each so I'm not sure if there is a size limit. What test

[2018-11-20 17:57] thp commented on #44
WAV is a container file format, can you check with e.g. `soxi` (in the [sox](https://packages.debian.org/stretch/sox) package) what the file contents are? Is there any debug output when running the GUI on the command line?

[2019-01-09 09:07] IngwiePhoenix opened #45 "MD-RH10: himdcli keeps ABORTing during writemp3"
Hello! :)

I have a Sony MZ-RH10 - the one with the OLED display at the top, not at the edge. Well, previously I had used a Windows XP VM to use SonicStage to transfer my stuff. But oddly...it stopped working that way. Very, very unfortunately... So I compiled this project on Mac OS (latest Qt and deps installed through Homebrew) and tried to write a MP3 file... Well, here is what happens. Normall

[2019-01-09 17:21] thp commented on #45
Can you get a backtrace using `lldb` (if you were on Linux, you could use `gdb` as well? See "Examining thread state" in https://lldb.llvm.org/tutorial.html

[2019-01-11 21:03] IngwiePhoenix commented on #45
[code]

This is what I get. I guess I need to re-compile with debug enabled for proper information...but, I dont know how to do that with QMake.

[2019-01-11 22:32] thp commented on #45
This is already useful. I have an idea what could be wrong. Can you also attach a directory listing of `/Volumes/NO\ NAME/HMDHIFI`, especially the `trkidx*.hma` and `_rkidx*.hma` files? If easily possible, a copy of your himd data folder might also be useful, but the file listing might be enough.

My guess is that in `himd_write_tifdata()`, `scanfortif()` returns a non-zero value, but it sets only

[2019-01-11 23:10] IngwiePhoenix commented on #45
Alright, so here is a 1:1 copy of the entire contents of the drive: https://cloud.ingwie.io/s/tyZsgRb2T99TEps

Listing looks like this:
[code]

I honestly don't know what is now written in this or not...

[2019-01-11 23:21] thp commented on #45
@IngwiePhoenix Thanks! That's useful. Can you try the patch in #46?

[2019-01-11 23:35] IngwiePhoenix commented on #45
Uploaded a couple of other songs and it worked just fine. Trying the GUI next.

[2019-01-11 23:39] IngwiePhoenix commented on #45
Pressing the `<---` button does appearently nothing when selecting a MP3. Too bad...

[2019-01-11 23:53] IngwiePhoenix opened #47 "Sony NetMD MZ-NE410: Song does not transfer properly, apparently"
So first, I tried this:

[code]

Then I unplugged the device and scoped through the songs, and only found three songs... Well, turns out that is what the program reports - as well as a crash?

[code]

Running LLDB over it:
[code]

This is basically just my spare player. But it'd be nice to use it, too :)

[2019-01-12 11:09] thp commented on #47
I get the following with my MZ-RH1 in NetMD mode:
[code]

..and then I had to switch off the device forcefully, because it didn't stop writing data.

The GUI crash, however, is a bug: https://github.com/glaubitz/linux-minidisc/pull/48

[2019-01-12 12:50] thp commented on #45
For MP3->HiMD support in the GUI, see #49

[2019-01-14 21:16] #45 closed

[2019-02-16 20:40] djsbriscoe commented on #44
Sorry for the delay in replying.

Here is the output of Soxi for 2 files (copied from CD using EAC V1.3). These files are greyed out in QHiMDtransfer

Input File     : '/home/david/Music/TASW/Track02.wav'
Channels       : 2
Sample Rate    : 44100
Precision      : 16-bit
Duration       : 00:05:29.73 = 14541240 samples = 24730 CDDA sectors
File Size      : 58.2M
Bit Rate       : 1.41M
Sample Encodin

[2019-02-18 20:25] thp commented on #44
Looks like you're trying to open the wrong folder?

    Error opening directory “/media/david/disk/HMDHIFI/hmdhifi”: No such file or directory

Make sure you point it to `/media/david/disk`, not `/media/david/disk/HMDHIFI`.

[2019-02-22 16:48] djsbriscoe commented on #44
You are correct. I tried the disk folder and now no error. However, the files on my PC folder are still greyed out in QHiMDTransfer and can't be sent or retrieved from the MD. Is there anything else I can try? Thanks.

[2019-02-22 17:00] thp commented on #44
Can you try with MP3 files? Maybe the GUI part of uploading WAV files to
the player isn't implemented yet

djsbriscoe <notifications@github.com> schrieb am Fr., 22. Feb. 2019, 17:48:

[2019-02-23 10:11] djsbriscoe commented on #44
Tried a mp3 file (converted from WAV using Audacity). Visible in RH pane of QHiMDTransfer (no longer greyed out like other WAV files). Green left pointing arrow and blue "Upload files to MD" icon are highlighted but on clicking the arrow nothing happens. Clicking on the blue icon brings up a dialog box. I select the mp3 file, click open on the top right and again nothing happens. I restart QHiMDTr

[2019-05-02 23:27] kaicherry opened #52 "Cannot play any himdcli/qhimdtransfer processed mp3s"
Hi. Across 3 os variants (linux/mac os x/windows) with any build or download, mine or otherwise, get *any mp3s* transferred to a HiMD formatted disc to play on so far, 3 different HiMD players.

*Extracting* is fine. I've burned images to ads, taken mp3s off images, all kinds of combos. there is either something I am missing, not under sanding, or "intrinsic" - Is HiMD support expected to work for

[2019-05-03 09:58] #52 closed

[2019-12-03 00:36] Invictaz commented on #44
@thp I would like to know how this issue proceeds.

[2020-01-29 20:02] vitorio opened #53 "`himdformat` fails on 1GB Hi-MD discs with MZ-NH600D, `himdscsitest format` works"
I've an MZ-NH600D, and am using ` basictools` compiled from source on Ubuntu 19.10 on x86_64.  `himdformat` fails with a 1GB disc:

[code]

But `himdscsitest /dev/sg2 format` succeeds:

[code]

An 80min MiniDisc formatted as Hi-MD is formatted by both tools.

[2020-03-30 02:41] Invictaz opened #63 "Port downloadhack.py to libnetmd"
Downloadhack (transferrring songs FROM the minidisc to the PC) is absolutely necessary in order to have a proper way of archiving minidiscs now the format gets older. Only the MZ-RH1 is capable of doing this in .aea format for ATRAC1. For Atrac 3, Atrac3Plus, Mp3 and PCM there are no solutions yet. You still need Sonicstage for that, which might add DRM.

Porting downloadhack.py to libnetmd is nec

[2020-03-30 14:58] thp commented on #63
By the way, for archival purposes, you can probably:

 * Grab a Windows OS from https://winworldpc.com/library/operating-systems (or if you have a disc and license for e.g. Windows XP, use that)
 * Use VirtualBox + the USB2 extensions from https://www.virtualbox.org
 * Install SonicStage + Drivers into the VM
 * Forward the NetMD USB device to the VM
 * Transfer files this way

For now, third part

[2020-03-31 21:16] Invictaz commented on #63
I have a native Windows XP machine but that is not the point ;-)

[2020-04-11 17:17] Invictaz opened #64 "Please make a recent Windows build"
There is no recent Windows build. There is no Travis build bot for it.
Can you please fix this?

https://travis-ci.org/github/glaubitz/linux-minidisc

[2020-04-11 17:19] Invictaz commented on #53
What happens if you format it on Mac?

[2020-04-14 13:25] vitorio commented on #53
The format button in `qhimdtransfer` application on Mac doesn't appear to do anything (High Sierra 10.13.6) with either 80m or 1G discs.

Is https://wiki.physik.fu-berlin.de/linux-minidisc/doku.php?id=compilingonmac still accurate for compiling `basictools` on Mac?  I can try that next.

[2020-04-14 15:03] thp commented on #53
The wiki page looks correct, but not sure if `basictools` is supposed to work on macOS or not

[2020-04-15 19:15] thp commented on #64
There is some Travis CI setup, not sure why it doesn't build in this repo. I pushed the tags from this repo here to https://github.com/thp/linux-minidisc/releases (will take a while to build), but eventually I need to look into why it doesn't build/upload into this repo.

Possibly the API Key needs to be updated in `.travis.yml`.

[2020-04-15 19:20] thp commented on #64
Note that since this project was moved into an organization, the Travis CI page should be:

https://travis-ci.org/github/linux-minidisc/linux-minidisc

However, this is not set up yet, let's see if I have permissions to do that.

[2020-04-15 19:27] Invictaz commented on #64
Great, I will check later on your progress

[2020-05-06 00:21] Invictaz commented on #64
@glaubitz any success?

[2020-05-06 06:11] glaubitz commented on #64
@Invictaz Could you please stop doing this?

I'm working on this in my free time and I have a day job as well plus a private life. I have started working on it, but I haven't finished it as the code needs more clean-up. When it's finished, you will be automatically notified.

Please be patient. Thank you.

[2020-07-28 16:51] eRadiofan commented on #38
I have just run into this problem, having traced it through from platinum-md, here is the defect for that: https://github.com/gavinbenda/platinum-md/issues/33

This master version of [netmd_set_track](https://github.com/linux-minidisc/linux-minidisc/blob/master/libnetmd/playercontrol.c#L100) uses some bcd encoding function: `proper_to_bcd(track, request + 9, 2);`, which is different to what is in

[2020-07-29 21:42] andyboeh opened #65 "Sharp IM-DR420H: Unknown Error"
I'm rather new to the NetMD world and recently acquired a used Sharp IM-DR420H device. Unfortunately, I keep getting "Unknown Error" messages when sending a file:

[code]

Running with `-t`, I get (only the first few lines):

[code]

Any help is appreciated!

I'm on a recent Arch Linux system, I also tried @vuori's fork and platinum-md with the same result. Controlling the device (`netmdcli play`)

[2020-07-30 10:49] thp commented on #38
Implementation in `libnetmd/utils.c`:

[code]

The code in [`mod_netmd`](https://github.com/lainredsonic/mod_netmd/blob/master/netmd.c):

[code]

[2020-07-30 11:01] thp commented on #38
If you want, try changing this line:

[code]

To this:

[code]

(also try different offsets (9 and 11?) and just `track` instead of `track - 1`)

Since I'm not familiar with that part of the codebase, let it be known that you do this on your own risk, if it makes the black smoke escape from your MD unit you get to keep the pieces.

[2020-07-30 12:01] andyboeh commented on #65
I've also got SonicStage inside a VM which works fine. I did some USB traces today, but it's hard to spot as I'm not familiar with the protocol. Sonic Stage sends `00 18 08 10 10 01 00 00` right before starting a secure session, but I have no clue on what this is supposed to do.
I can, of course, provide USB traces if it helps.

[2020-07-30 12:35] vuori commented on #65
I don't have experience with that part of the negotiation unfortunately, and the startup of the secure session is rather obfuscated. The command/response being identical in your traces is kind of weird though.

I think that the protocol technically supports multiple host/player shared keys in a manner reminiscent of AACS. The current source implies that only one key was ever actually used, but I g

[2020-07-30 14:21] andyboeh commented on #65
It's not identical: The first byte is different. The device should respond with 0x09 (it does using Sonic Stage), but responds with 0x0a.

If I understood the sequence correctly, it errors out before even setting up the secure connection.

[2020-07-31 16:09] eRadiofan commented on #38
I might just give it a try but I am somewhat worried that it might not work for all players. Clearly the code once worked for someone's player. What uses mod_netmd?

[2020-07-31 18:11] thp commented on #38
@eRadiofan With which device did you test it?

[2020-07-31 19:28] eRadiofan commented on #38
Tested on Sony MZ-N520

[2020-08-07 17:31] andyboeh commented on #65
I did some more testing today: I uploaded the same track to a blank MiniDisc using a Sony MZ-N505 and a Sharp IM-DR420H using SonicStage in a VM and captured using `usbmon` and WireShark. Unfortunately, I cannot spot any obvious difference. Please drop me a line if you are interested in the USB traces, I just don't want to upload them publicly.

And yes: The Sony device works properly on Linux, bu

[2020-08-07 20:59] andyboeh commented on #65
I reply one last time to myself, because I finally managed to make it work! It turned out that the Sharp needs just one more command before it accepts a track - exclusive access. The magic command is `00 ff 01 0c ff ff ff ff ff ff ff ff ff ff ff ff`, afterwards, it works just fine! In the end, exclusive access should be released with `00 ff 01 00 ff ff ff ff ff ff ff ff ff ff ff ff`.

@vuori Shoul

[2020-08-09 06:20] cybercase commented on #65
Thanks for your work @andyboeh .

I’ll gladly port this fix to netmd-js (used by WebMiniDisc).

However, since I don’t have a Sharp device for testing, I’d like you to open a PR with the changes you did, so I can use it as a reference.
It would be great also if we could test your PR with as many devices as possible to be sure that the changes won’t break anything.

[2020-08-09 10:08] andyboeh commented on #65
@cybercase: I opened a PR in vuori's repo since I'm actually using his fork: https://github.com/vuori/linux-minidisc/pull/8. I'd be happy to test any changes in WebMiniDisc.

[2020-08-09 20:16] vuori commented on #65
Nice, hopefully upstream would get the upload PRs merged in the near future so this could go there.

[2020-11-28 00:00] Invictaz opened #66 "Decrypting 3DES Hi-SP and LP using Sweet32"
Sweet32 found a vulnerability in 3DES encryption which is used on Hi-MD tracks.
Can it be used on the Hi-MD tracks?

@glaubitz used to work on the key encryption and decryption.

3DES is officially retired in favor of AES.

https://sweet32.info/

https://www.cryptomathic.com/news-events/blog/3des-is-officially-being-retired

[2020-11-28 00:06] glaubitz commented on #66
@karcherm is the actual expert on the matter. Let's ask him for is opinion.

[2020-11-28 01:06] Invictaz commented on #66
Since the current developments with WebMinidisc and Platinum-MD it's time to come up with a solution to save Hi-MD stuff before it's dead.

[2020-11-29 10:53] glaubitz commented on #66
I will hopefully resume working on the MiniDisc stuff during the holidays. I made some progress cleaning up patches by Thomas Arp, there is just one patch to clean up left.

[2020-11-29 14:41] Invictaz commented on #66
@glaubitz what patch are you referring to?

[2020-12-13 11:47] deenine commented on #40
@DavidCWGA I did some research into why the 780/980 and bookshelf systems dont work with linux-minidisc. There are two significant differences in the netmd protocol as implemented by linux-minidisc on the majority of portable devices, and as implemented by the je780:

1. The JE780 responds with status '0x0f: interim response' to most commands, requiring a second read from the device to complete th

[2020-12-13 11:54] deenine opened #67 "package_build.sh fails if CONFIG+=without_gui"
If building linux minidisc without gui, via `qmake CONFIG+=without_gui`, package_build.sh fails due to missing QHiMDTransfer.exe.

[2020-12-13 13:07] deenine commented on #64
I have taken a look at this, the travis build doesnt build anymore as far as I can tell, so I have put up a trusty64 vm to test (https://github.com/deenine/lmd-vagrant/blob/main/lmd.yml - please ignore the reference to my fork in lmd.yml, the below is discussing the upstream linux-mindisc in this repo).

I think it needs `cmake` and `gettext` adding to the list of packages installed in `install_de

[2020-12-23 15:54] poulpoulsen opened #68 "Error opening minidisc device (SONY MZ-N910 (NetMD))"
hello,
after successfully compile on Fedora 32, connecting reports the above error.
Error opening minidisc device (SONY MZ-N910 (NetMD)):
Error opening netmd: Error while opening the USB device

Any ideas?
Is it possible to create logs?

Regards
Poul

[2020-12-28 09:42] thp commented on #68
Did you follow the "plugdev" group creation instructions with the udev rules file in [README.fedora](https://github.com/linux-minidisc/linux-minidisc/blob/master/README.fedora)?

[2020-12-29 04:33] ticky opened #69 "pkg-config is not queried for `libgcrypt`, `libgpg-error` or `libid3tag`, so those in non-standard install locations will fail"
I am attempting to build linux-minidisc on an arm64 Mac, and as of https://github.com/Homebrew/homebrew-core/pull/67170, Qt should support a native build on this platform.

That being said, due to the fact that Homebrew on arm64 no longer installs libraries to `/usr/local/lib`, any installation which isn't using `pkg-config` correctly will likely fail to find the requisite libraries.

In the case

[2021-01-10 10:24] poulpoulsen commented on #68
Yes i did.
Unfortunately today i got no errors, BUT
i do not see a device.
How could i check if it is connected?
Dolphin do not show anything.
I use KDE Plasma on Fedora 32.

Regards
Poul

[2021-02-18 10:05] poulpoulsen commented on #68
Hello,
I successfulky recompile after some fedora updates with hope to make it work. But now again opening the device with Qhimdtransfer shows error again and afterwards disconnected.

Pls can you tell me how to log the communication or how to send debug messages to you.
Regards
Poul

[2021-03-21 19:59] Invictaz commented on #66
3-DES decryption can already be done on Playstation 3 savegame files (using CBC), also from Sony.
Can this code be transferred to the Hi-SP decryption?

https://github.com/bucanero/apollo-ps3/blob/master/source/decrypt.c#L180

[2021-03-21 20:03] Invictaz commented on #63
Soon there will be Platinum-MD version 1.10. It's already there for Mac.

[2021-06-29 05:25] thp commented on #68
Is your user still part of the "plugdev" group and have you set the permissions correctly?

[2021-07-28 20:59] bernaloo opened #73 "building on catalina 10.15.7 fails"
im trying to build the project from the source code, as the precompiled binaries does not start (i.e. crashes in the opening process). I fixed some errors caused by missing libraries by installing them with home-brew.
however, there seems to be something else here:

`qhimdmainwindow.cpp:292:43: error: use of undeclared identifier 'qVariantFromValue'
        ui->himd_devices->addItem(device, qVaria

[2021-07-29 07:22] thp commented on #73
Proposed fix: https://github.com/linux-minidisc/linux-minidisc/pull/74

[2021-07-29 09:11] bernaloo commented on #73
thanks a lot for the super fast feedback.
inspired in your fix, I downgraded the qt version in homebrew and make it run.
Id like however to use your fix and avoid using qt4 as currently

[2021-07-29 10:00] #73 closed

[2021-09-16 11:47] JustCryen opened #75 "Finding the directory of md player / recorder"
Hi, I'm new to this project so I might be doing something obviously wrong.

When I connect my MD player to my PC, the only way to hunt down its directory is to use `lsusb`
I found out that the device directory is `/dev/bus/usb/001/013` (`013` being a file)
It doesn't show up as anything else.

When I try to set it as the device dir I got an error:

first of all it doesn't let me choose the device

[2021-09-16 12:00] thp commented on #75
MZ-N510 is NetMD, so no Hi-MD (no "filesystem" features). The device is accessed via netmd.

Also make sure that the files in [netmd/etc](https://github.com/linux-minidisc/linux-minidisc/tree/master/netmd/etc) are installed, as this is what allows your current user to access the device.

Does `netmdcli` and the Python scripts in `netmd` work?

[2021-09-20 13:04] JustCryen commented on #75
Thank you for pointing me in the right direction.
I tried `netmdcli` and it worked without issues, to run Python scripts in netmd I had to manually run them with `python2` **2.7.18-4** since the main python version on my system is **3.9.7-1**
Just after running `netmdcli` my MD player appeared in the `qhimdtransfer` but I was still unable to transfer anything.

Quite frankly, files in [netmd/etc](

[2021-09-23 05:40] thp commented on #75
Try this PR: https://github.com/linux-minidisc/linux-minidisc/pull/60 -- it ports the netmd scripts to Python 3 (as [Python 2 isn't maintained since January 2020](https://pythonclock.org)).

No, [udev is what replaced HAL](https://wiki.debian.org/HALRemoval), so you don't need that. Might be a good time to remove the HAL-related files, what do you think @glaubitz? (it might be that the FDI files a

[2021-09-30 02:41] JustCryen commented on #75
Ok, I tried the pr60 and it fixed some scripts.
But in the master it wasn't perfect either, even when used python2.
I'm attaching some screenshots when launching python scripts in `netmd` before and after pr60.

master python3:
![linux-minidisc-master-python3](https://user-images.githubusercontent.com/41633661/135374906-27f33d6e-5515-4dff-9909-0e83a5d929e3.png)

master python2:
![linux-minidisc-ma

[2021-10-10 04:46] thp commented on #75
That's basically it. Feel free to submit a pull request.

[2021-12-21 07:50] fshuetli opened #76 "Omg files decrypt"
Back in the day I recorded loads of concerts using a Sony MiniDisc. I then used the software sonicstage to copy the openmg atrac audio files *.omg from the minidisc to my PC to archive them on a hard disk.
What I did not know: The files were protected with DRM and the key was stored in a file which I did not backup.
Since years I am looking for a way to unlock/crack those files (which are my own r

[2022-02-20 16:46] aaronamm opened #77 "Why does an MD device require a 16bit/44.1khz input file for recording in SP mode?"
Hello everyone.

According to my question in [netmd-js project](https://github.com/cybercase/netmd-js/issues/32) which [asivery](https://github.com/asivery) gave me very useful answers.
However, we still don't know why a MD device requires a 16bit/44.1khz input file for recording in SP mode?

I would be glad if you could show me where to get this 16bit/44.1khz SP mode specification or how do you r

[2022-02-22 21:51] karcherm commented on #77
Data on MiniDisc always describes music sampled at the 44.1kHz, and has a dynamic range approximately equal to 16 linear PCM. The (classic) MD recorder does not contain a resampling unit, so it is unable to process audio data sampled at other rates than 44.1kHz. That's why a MD device requires a 44.1kHz input for recording SP tracks. The remaining question is: Why does the device require 16-bit LP

[2022-02-23 04:25] aaronamm commented on #77
@karcherm this very detailed and useful information. Thank you so much.
Just to clarify other people "ADC" stands for analog to digital converter which is opposite to DAC (digital to analog converter).

[2022-02-23 04:26] #77 closed

[2022-04-02 11:29] brabes commented on #38
FWIW I've just come across this on an AIWA AM-NX9, and the change suggested by @thp has been tested and works.

[2022-04-05 17:23] #38 closed

[2022-04-21 15:29] thp commented on #76
I guess you don't have the original MiniDisc media anymore? A MZ-RH1 should be able to upload files from a disc DRM-free. Not sure how feasible it is to brute force the OMG key.

[2022-04-21 15:37] thp commented on #67
package_build.sh is really mostly for CI stuff, and there we always build everything.

The only non-trivial thing it does is copy dependency DLLs into place using `build/mingw-bundledlls`, which you could run manually for `himdcli.exe` and `netmdcli.exe`. You might need to set `MINGW_BUNDLEDLLS_SEARCH_PATH` accordingly, see `package_build.sh` for details.

[2022-04-21 15:39] thp commented on #64
New Windows builds will be possible with https://github.com/linux-minidisc/linux-minidisc/pull/79

You can download a current WIP build from here (artifacts ZIP, this link might eventually expire, if you read this in the future, pick [one of the latest builds](https://github.com/linux-minidisc/linux-minidisc/actions) and check the artifacts there):

https://github.com/linux-minidisc/linux-minidisc

[2022-04-21 15:48] thp commented on #69
There's also a "less correct but more practical" solution here: https://github.com/gavinbenda/linux-minidisc/commit/025d7dcf48dc91aaaef7bead74220ecc532e58e1

[2022-04-21 15:55] thp opened #81 "Reconcile/catch up with NetMD-related forks"
There are some forks that have moved forward with NetMD support, it'd be great if we could look into reducing the diff to those by merging things that seem to work for more people.

https://github.com/vuori/linux-minidisc
https://github.com/gavinbenda/linux-minidisc

It seems like @gavinbenda's fork is the most up to date (and regularly used/tested by Platinum MD users?) and includes most of the f

[2022-04-22 12:44] fshuetli commented on #76
Correct, I don't have the original media anymore. Just the *.OMG files from Sonicstage. This is why probably I would need a leaked master key or a brute forced key probably...

[2022-04-28 07:17] glaubitz opened #84 "Misleading identifier for Windows builds in Github Actions"
There is a minor cosmetic issue with the identifier for the Windows builds in Github Actions.

Despite building the project for 32- and 64-bit Windows, the identifiers in use are **ubuntu-latest**.

![image](https://user-images.githubusercontent.com/1647645/165698170-9c7592fc-7b67-4821-94dc-73885fb82b2b.png)

[2022-05-03 17:51] poulpoulsen commented on #68
hello, you can close this ticket.
currently i do not use my minidisc player.
thank you

[2022-05-03 17:51] #68 closed

[2022-05-04 14:58] thp commented on #84
That's because the build host is Ubuntu. We're not building on Windows, we're cross-compiling for Windows.

[2022-05-07 00:10] MagnetoOptical opened #86 "Cannot connect to MZ-NE410"
Platform: Linux, Pop!_OS 21.10

Looks similar to #68

Cloned repo and build from source.  netmdcli and qhimdtransfer both compiled successfully.
Added my user to plugdev group, and installed the udev rule.

netmdcli reports:
"Error opening netmd
Error while opening the USB device"

qhimdtransfer reports:
"Error opening minidisc device (SONY MZ-NE410 / MZ-DN430 / MZ-NF520 (NetMD)):
Error opening ne

[2022-05-07 11:30] thp commented on #86
Did you reboot / restart udevd and/or re-plug the device? Have you verified with the `groups` command that the user you're running in is actually part of the `plugdev` group?

[2022-05-07 14:14] MagnetoOptical commented on #86
I did restart systemd-udevd.service which was successful e.g. a status of `active (running),` however there was no change in behavior so I rebooted my computer.
groups <myuser> shows: `<myusergroup>, adm, sudo, plugdev, users, lpadmin`

What's interesting to me is that I was able to use https://webminidisc.com/ on another computer via Chrome (macOS Monterey) and I could play, pause, stop, and chan

[2022-05-07 20:35] thp commented on #86
For NetMD play/pause/stop controls, the audio is played on the device (so plug your headphones into the player), the audio doesn't come out of the computer's audio device.

If webminidisc doesn't work (also try https://web.minidisc.wiki, although if you have USB port permission issues, then this won't help) then it really looks like a USB port problem. Do you have some special security modules loa

[2022-05-11 00:15] MagnetoOptical commented on #86
Turns out you were on the right track:  An AppArmor profile was preventing access to the ports.

[2022-05-12 19:39] MagnetoOptical commented on #86
Turns out I am still having trouble getting music on to the NetMD.  I see a lot of chatter about the device expecting LP2 (and possibly SP) ATRAC files, but with no encoder freely available I'm not sure how to accomplish that.
QHiMDTransfer makes it look like you can transfer mp3's, but that also does not work.

Trying to use netmdcli send <file name> on both .wav and .mp3 files results in :
Error

[2022-05-14 23:03] thp commented on #86
[`atracdenc`](https://github.com/dcherednik/atracdenc) can encode ATRAC3 (LP2/LP4), and with a [recent patch](https://github.com/dcherednik/atracdenc/pull/30) it can output .wav files that `netmdcli` (and QHiMDTransfer in case of minidisc-ffwd) can consume. atracdenc is also what Web Minidisc and Platinum MD use for LP2/LP4 upload. Note that quality of encoded ATRAC3 with `atracdenc` is not yet as

[2022-05-17 00:29] MagnetoOptical commented on #86
OK I think I can safely say that I can connect to the device and have limited control of it via netmdcli.  I am not able to get audio onto a blank minidisc, however, and I do find QHiMDTransfer to be rather confusing.  In one view it looks like you can transfer .WAV files, but they don't, in another view (button on top bar, blue disc with the down arrow which wants .mp3 files, but only enables whe

[2022-05-20 09:11] thp commented on #86
Did you try with minidisc-ffwd from https://github.com/thp/linux-minidisc ? The uploading/downloading has been improved a bit with this, it can even (using the `ffmpeg` command-line utility for decoding to WAV) download MP3s to NetMD.

There's #60 already, but since it's a quick'n'dirty 2to3 job, feel free to do it properly and replace that PR.

[2022-07-26 08:24] svintuss opened #88 "Split track / Insert TOC mark"
Hello.

Is it possible to split a track (insert TOC mark) by means of netmdcli? Maybe some hex-command could do that?
It would be really helpful when dubbing CDs without silence between tracks or even split tracks from .cue files.

Alex

[2022-07-27 09:03] thp commented on #88
I don't know if that feature exists in the AVC protocol or if NetMD devices implement it.

Something that's definitely possible is to seek to a specific position on the disk, so if nothing else, you could seek using NetMD and then press TMark on the device (not sure if TMark works during NetMD mode, but possible disconnecting USB might keep the player at that position, and then TMark works, then y

[2022-07-27 09:06] thp commented on #88
I found this in the [AVC Disc Subunit 1.0 docs](https://github.com/thp/linux-minidisc/blob/minidisc-ffwd/docs/internals/AVC%20Disc%20Subunit%201.0.pdf):

<img width="598" alt="Screenshot 2022-07-27 at 11 05 09" src="https://user-images.githubusercontent.com/135241/181208298-51a49a49-4a08-4ca3-a33c-45f38b9290f7.png">

[2022-07-27 09:45] thp commented on #88
According to @asivery on Discord, those commands are unfortunately not implemented by the MD recorders.

However, this works (with the [`minidisc-ffwd`](https://github.com/thp/linux-minidisc) branch):

1. Insert the MD into the recorder (stopped playback), connect via USB
2. Issue `netmdcli settime 1 1 0 0` (to seek to 01:00.000 in the first track) -- the arguments are `settime <track_id> <min> [s

[2022-07-27 09:49] thp commented on #88
..and you can probably write a small script (shell, Python or your favorite scripting language) to "convert" a cue sheet into steps that can be carried out to "apply" the track marks (seek to first cut point, call `netmdcli settime`, ask user to disconnect USB + play, pause, tmark + reconnect usb and press a button, then seek to next cut point (now in track 2, minus the start offset) and call `net

[2022-07-27 10:13] svintuss commented on #88
Thank you.
My only NetMD device is a Sony MDS-NT1 which unfortunately has very limited hardware controls, so I'll just stick to listening to MDs and marking manually.